[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
allure-python-commons = "==2.9.44"
allure-robotframework = "==2.9.44"
boto3 = "==1.18.54"
faker = "==9.8.2"
requests = "*"
robotframework-faker = "==5.0.0"

[dev-packages]

[requires]
python_version = "3.8"
